:root {
    --colorheader: #77CFF2;
    --colorfooter: #9C2941;
    --colorbody: #ECECEC;
    --coloresecundario: #F2B705;
    --colorterciario: #D98218;
    --fontprinc: "NotoSerif";
    --fontsec: "Exo2";
    --fontbody: "IstokWeb";
}


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    border: none;
}

html {
    background-color: var(--colorbody);
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: var(--fontbody);

}

/*.img-logo {
    position: absolute;
    left: 2;
    height: 200px
}*/
.tituloprinc{
    /*font-family: var(--fontprinc);*/
    text-decoration: none;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
   
}
/*link footer*/
.links {        
    width: 50%;
    text-align: center;
    display: inline-block;
        
}
.links img:hover {
    transform: scale(1.5,1.5);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    border-radius: 60px;
    
}







@font-face {
    font-family: "Exo2";
    font-style: normal;
    font-weight: normal;
    src: url(font/Exo2.ttf);
}

@font-face {
    font-family: "IstokWeb";
    font-style: normal;
    font-weight: normal;
    src: url(font/IstokWeb.ttf);
}

@font-face {
    font-family: "NotoSerif";
    font-style: normal;
    font-weight: normal;
    src: url(font/NotoSerif.ttf);
}